semestr2/cw5-klasy,export,plik startowy/node_modules
semestr2/cw5-klasy,export,plik startowy/.cache
semestr2/cw5-klasy,export,plik startowy/.vscode
semestr2/cw6-system bankowy/node_modules
semestr2/cw6-system bankowy/.cache
semestr2/cw6-system bankowy/.vscode