<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <div data-id="myApp">
      <section v-if="auctionsData.length>0">
        <h2>lista aktywnych aukcjii</h2>
        <ul>
          <auction-item
            v-for="auctionData in auctionsData"
            :auction="auctionData"
            :key="auctionData.id"
            @close-auction="removeAuction"
          >
          </auction-item>
        </ul>
      </section>
      <section>
        <h2>dodawnie nowej aukcji</h2>
        <form @submit.prevent="addNewAuction">
          <label for="nameOfAuction">nazwa pzedmiotu</label>
          <input type="text" id="nameOfAuction" v-model="newAuction.name" />
          <label for="auctionPrice">Cena wywoławacza</label>
          <input type="text" id="auctionPrice" v-model="newAuction.price" />
          <button type="submit">Dodaj nową aukcjie</button>
        </form>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
