<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ćwiczenia 2 - SEM 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  </head>
  <body>
    <div data-id="myApp">
      <section v-if="auctionsData.length > 0">
        <h2>
          Lista aktywnych aukcji
        </h2>
        <ul>
          <auction-item
            v-for="auctionData in auctionsData"
            :key="auctionData.id"
            :auction="auctionData"
            @close-auction="removeAuction"
          ></auction-item>
        </ul>
      </section>

      <section>
        <h2>
          Dodawanie nowej aukcji
        </h2>
        <form @submit.prevent="addNewAuction">
          <label for="auction-name">Tytuł nowej aukcji</label>
          <input
            type="text"
            id="auction-name"
            name="auction-name"
            v-model="newAuction.name"
          />
          <label for="auction-name">Cena wywoławcza</label>
          <input
            type="number"
            id="auction-name"
            name="auction-name"
            v-model="newAuction.price"
          />

          <button type="submit">Dodaj nową aukcję</button>
        </form>
      </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
