/**/
#personsLi {
    /* position: relative; */
    list-style: none;
    
}


.photo {
    /* position: absolute; */
    /* top: 100px; */
    /* right: 30px; */
    float: left;
    padding-right: 10px;
}