* {
    margin: 0;
    padding: 0;
}

span {
    display: block;
    width: 300px;
    font-size: 20px;
    text-align: center;
}

li {
    list-style: none;
    padding: 5px 30px;
    cursor: pointer;
    width: 300px;
}

.gray {
    background-color: gray;
}

.size8 {
    font-size: 8px;
}

.size12 {
    font-size: 12px;
}

.size20 {
    font-size: 20px;
}